.product-box .sale-flash{background-color:#bda87f}
.product-box .sale-flash:before{border-top:10px solid #bda87f}
.off-canvas-menu .action .btn-primary.btn-50:last-child:hover{background:#c6b390}
.details-product form button.btn-primary2:hover{background:#c6b390}
.view-desktop a.btn.btn-primary.btn-full:hover{background:#c6b390}
.media-icon{float:right;width:70%;margin-top:30px;text-align:right}
.media-icon ul{text-align:right}
.media-icon ul li:nth-child(1) a{padding:10px 15px}
.media-icon ul li:nth-child(2) a{padding:10px 13px}
.media-icon ul li:nth-child(3) a{padding:10px 10px}
.media-icon ul li:nth-child(4) a{padding:10px 13px}
.media-icon2 li:nth-child(1) a{padding:10px 15px}
.media-icon2 li:nth-child(2) a{padding:10px 13px}
.media-icon2 li:nth-child(3) a{padding:10px 10px}
.media-icon2 li:nth-child(4) a{padding:10px 13px}
.form_blog_comment h4{text-transform:uppercase;margin-top:60px;color:#252525;margin-bottom:30px}
.title_h4{text-transform:uppercase;margin-top:60px;color:#252525;margin-bottom:15px}
.name_commpany{font-size:15px;color:#000;margin-bottom:10px;margin-top:45px}
.cnt_contact{list-style:none;margin:0px}
.cnt_contact li:nth-child(1){margin-top:20px}
.cnt_contact li .fa{color:#fff}
.contuct ul{margin-top:30px}
.contuct ul li .fa{color:#bda87f}
.action-button-hiden{width:100%;float:left}
@media (max-width: 1199px){.copyright-info{text-align:center}
.company-links{text-align:center}
.company-links ul.links{display:inline-block;*zoom:1}
.company-links ul.links li:first-child{margin-right:0px}
}
@media (max-width: 991px){.footer-mid-menu ul{margin-top:35px !important}
.footer-middle-area .footer-mid-menu h3{padding-bottom:20px !important}
.widget_bestsellers.box_collection_pr .title_widget{margin-bottom:20px}
}
@media (max-width: 767px){.mobile_thumb{margin-bottom:15px}
}

